<!doctype html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link rel="stylesheet" href="/src/Assets/style/style.css">

    <title>Adil Aulia Azuri</title>
</head>

<body>
    <div class=" min-h-screen flex flex-col bg-white dark:bg-gray-900">
        <!-- navbar -->
        <nav class="bg-white dark:bg-gray-900 border-gray-500">
            <div class="flex flex-wrap justify-between pt-1 bg-gray-900">
                <!-- logo SE -->
                <div class="flex">
                    <a href="" class="flex items-center px-8 0">
                        <img src="/Assets/img/logoad.png" class="h-8 hover:scale-110 transition duration-300"
                            alt="Logo" />
                    </a>
                </div>
                <!-- navbar button -->
                <ul class="flex text-gray-400 gap-5  py-3">
                    <li class=""><a href="">Tech Stack</a></li>
                    <li class=""><a href="">Experience</a></li>
                    <li class=""><a href="">Projects</a></li>
                    <!-- whatsapp -->
                    <li class="">
                        <a href=""
                            class="flex gap-2 bg-green-500 hover:bg-green-600 transition duration-300 px-2 py-1 rounded-md text-white text-sm">
                            <img src="Assets/img/whatsapp-brands.svg" class="w-3 flex"></img>
                            Let's Talk
                        </a>
                    </li>
                    <!-- download CV -->
                    <li class="">
                        <a href=""
                            class="flex gap-2 bg-black dark:bg-white text-white dark:text-black px-2 py-1 rounded-md text-sm">
                            <img src="Assets/img/file-earmark-arrow-down.svg" class="w-3 flex"></img>
                            Download CV</a>
                    </li>
                    <!-- Change Mode -->
                    <button onclick="" class="text-gray-300 hover:text-gray-400 mx-2">
                        Change Mode
                    </button>
                </ul>
            </div>
        </nav>

        <main class="bg-white dark:bg-gray-900">
            <!-- introduction -->
            <section>
                <div class="grid grid-flow-col grid-rows-1 items-center">
                    <!-- Grid Picture -->
                    <div class="flex justify-center">
                        <div class="m-25">
                            <img src="/Assets/img/myself.jpg"
                                class=" size-50 rounded-xl shadow-md shadow-blue-400 transform transition duration-500 hover:scale-105 hover:shadow-blue-300 hover:shadow-sm"></img>
                        </div>

                    </div>
                    <!-- grid 2 intro -->
                    <div class="col-span-2">
                        <div class=" ml-15 mt-20">
                            <h1 class="font-bold tracking-tight text-6xl dark:text-white mb-5">Hi, I'M Adil👋</h1>
                            <p class="font-normal text-gray-500 text-3xl dark:text-gray-400 mb-5">
                                Full-Stack Developer</p>
                            <div
                                class="mb-8 font-normal text-gray-500 text-xl dark:text-gray-400 text-balance tracking-wide leading-8">
                                <p class="mb-10">
                                    I build
                                    and
                                    ship digital products from scratch to production. Passionate about creating
                                    end-to-end
                                    solutions and
                                    turning ideas into fully functional applications. With expertise in both frontend
                                    and
                                    backend
                                    development, I handle everything from initial concept to deployment and maintenance.
                                </p>
                                <div class="flex items-center gap-4">
                                    <img src="Assets/img/location-dot-solid.svg" class="h-5 flex inline-block" alt="">
                                    <p class="font-normal text-gray-500 dark:text-gray-400">Solok,
                                        Sumatera Barat,Indonesia</p>
                                </div>
                                <div class="mt-3">
                                    <span class="inline-block w-3 h-3 bg-green-500 rounded-full"></span>
                                    <span class="font-normal text-gray-500 dark:text-gray-400 mx-5">Available for new
                                        projects</span>
                                </div>
                            </div>

                            <div class="flex flex-col sm:flex-row">
                                <ul class="flex gap-8 text-2xl">
                                    <li
                                        class="text-white bg-green-500 hover:bg-green-600 rounded-lg transition-colors items-center px-5 py-2">
                                        <a class="flex gap-3 " href="">
                                            <img src="Assets/img/whatsapp-brands.svg" class="w-7 flex"></img>
                                            Let's Talk
                                        </a>
                                    </li>
                                    <li
                                        class="text-black bg-white rounded-lg hover:bg-blue-400 transition-colors items-center px-5 py-2">
                                        <a class="flex gap-3" href="">
                                            <img src="Assets/img/file-earmark-arrow-down.svg" class="w-7 flex"></img>
                                            Download CV</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- tech  -->
            <section class="bg-white dark:bg-gray-900  items-center mt-20">
                <h2 class="ml-15 text-3xl font-bold mb-25 text-white">Tech Stack - Tools I Use Everyday</h2>
                <div class="scroller  justify-center" data-direction="right" data-speed="slow">
                    <div class="scroller__inner flex flex-wrap gap-25 justify-center">
                        <!-- expressjs -->
                        <div class="">
                            <div class="bg-gray-800 p-5 rounded-2xl mb-3 flex justify-center">
                                <img src="Assets/img/express.svg" alt="expressjs"
                                    class="size-25 bg-gray-500 rounded-md">
                            </div>
                            <p class="text-center text-2xl text-white dark:text-gray-300">Express JS</p>
                        </div>
                        <!-- javascript -->
                        <div class="">
                            <div class="bg-gray-800 p-5 rounded-2xl mb-3 flex justify-center">
                                <img src="Assets/img/javascript.svg" alt="javascript" class="size-25">
                            </div>
                            <p class="text-center text-2xl text-white dark:text-gray-300">JavaScript</p>
                        </div>
                        <!-- mongo DB -->
                        <div>
                            <div class="bg-gray-800 p-5 rounded-2xl mb-3 flex justify-center">
                                <img src="Assets/img/mongodb.svg" alt="mongodb" class="size-25">
                            </div>
                            <p class="text-center text-2xl text-white dark:text-gray-300">MongoDB</p>
                        </div>
                        <!-- next js -->
                        <div>
                            <div class="bg-gray-800 p-5 rounded-2xl mb-3 flex justify-center">
                                <img src="Assets/img/next-js.svg" alt="nextjs" class="size-25">
                            </div>
                            <p class="text-center text-2xl text-white dark:text-gray-300">Next JS</p>
                        </div>
                        <!-- dot Net -->
                        <div>
                            <div class="bg-gray-800 p-5 rounded-2xl mb-3 flex justify-center">
                                <img src="Assets/img/dotnet.svg" alt="net" class="size-25">
                            </div>
                            <p class="text-center text-2xl text-white dark:text-gray-300">.Net</p>
                        </div>
                        <!-- node js -->
                        <div>
                            <div class="bg-gray-800 p-5 rounded-2xl mb-3 flex justify-center">
                                <img src="Assets/img/node-js.svg" alt="nodejs" class="size-25">
                            </div>
                            <p class="text-center text-2xl text-white dark:text-gray-300">Node JS</p>
                        </div>
                        <!-- postgre -->
                        <div class=" ">
                            <div class="bg-gray-800 p-5 rounded-2xl mb-3 flex justify-center">
                                <img src="Assets/img/postgresql.svg" alt="postgre" class="size-25">
                            </div>
                            <p class="text-center text-2xl text-white dark:text-gray-300">PostgreSQL</p>
                        </div>
                        <!-- react -->
                        <div>
                            <div class="bg-gray-800 p-5 rounded-2xl mb-3 flex justify-center">
                                <img src="Assets/img/reactjs-.svg" alt="react" class="size-25">
                            </div>
                            <p class="text-center text-2xl text-white dark:text-gray-300">React JS</p>
                        </div>
                        <!-- tailwind -->
                        <div>
                            <div class="bg-gray-800 p-5 rounded-2xl mb-3 flex justify-center">
                                <img src="Assets/img/tailwindcss.svg" alt="tailwind" class="size-25">
                            </div>
                            <p class="text-center text-2xl text-white dark:text-gray-300">Tailwindcss</p>
                        </div>
                        <!-- typescript -->
                        <div>
                            <div class="bg-gray-800 p-5 rounded-2xl mb-3 flex justify-center">
                                <img src="Assets/img/typescript.svg" alt="typescript" class="size-25">
                            </div>
                            <p class="text-center text-2xl text-white dark:text-gray-300">TypeScript</p>
                        </div>
                        <!-- Unity -->
                        <div>
                            <div class="bg-gray-800 p-5 rounded-2xl mb-3 flex justify-center">
                                <img src="Assets/img/unity.svg" alt="unity" class="size-25 bg-gray-600 rounded-md">
                            </div>
                            <p class="text-center text-2xl text-white dark:text-gray-300">Unity</p>
                        </div>
                    </div>
                </div>

            </section>



            <!-- Experience -->
            <section class="bg-white dark:bg-gray-900 pb-15 w-auto">
                <h2 class="ml-15 text-3xl font-bold mb-25 text-white">Work Experience</h2>

                <!-- Fullstack -->
                <div class="flex justify-center mb-7">
                    <div class="flex bg-white dark:bg-gray-800 rounded-xl w-[90%] justify-between p-5">
                        <div class="flex">
                            <img src="/Assets/img/testpic.jpg" alt="Full-Stack" class="size-20 rounded-lg mr-10" />
                            <div class="ml-8x">
                                <div class="flex flex-col items-start text-white mb-5">
                                    <div class="justify-start">
                                        <h3 class="font-bold text-2xl">Full Stack Web Developer</h3>
                                        <p class="text-green-600 dark:text-green-400 text-xl">Microsoft (Semoga)</p>
                                    </div>

                                </div>
                                <ul
                                    class=" text-gray-600 dark:text-gray-400 text-md space-y-1 list-disc list-inside mb-5">
                                    <li>Full Stack Development application</li>
                                    <li>I usually work with JavaScript, React, Node.js, and related technologies</li>
                                    <li>Providing code reviews and technical guidance</li>
                                    <li>Developing curriculum and learning materials</li>
                                    <li>Conducting technical interviews and assessments</li>
                                </ul>
                                <div class="flex gap-3 text-sm font-medium">
                                    <p
                                        class="px-3 py-1 bg-gray-100 dark:bg-gray-700 rounded-full text-gray-600 dark:text-gray-400">
                                        JavaScript</p>
                                    <p
                                        class="px-3 py-1 bg-gray-100 dark:bg-gray-700 rounded-full text-gray-600 dark:text-gray-400">
                                        React</p>
                                    <p
                                        class="px-3 py-1 bg-gray-100 dark:bg-gray-700 rounded-full text-gray-600 dark:text-gray-400">
                                        Node.js</p>
                                    <p
                                        class="px-3 py-1 bg-gray-100 dark:bg-gray-700 rounded-full text-gray-600 dark:text-gray-400">
                                        Express</p>
                                    <p
                                        class="px-3 py-1 bg-gray-100 dark:bg-gray-700 rounded-full text-gray-600 dark:text-gray-400">
                                        PostgreSQL</p>
                                </div>
                            </div>
                        </div>
                        <div>
                            <p class="text-xl text-gray-500 dark:text-gray-400">Future</p>
                        </div>
                    </div>
                </div>

            </section>

            <!-- My Project -->
            <section class="bg-white dark:bg-gray-900">
                <h2 class="ml-15 text-3xl font-bold mb-15 text-white">My Project</h2>

                <div class="flex justify-center mx-15">
                    <div class="grid grid-cols-2 gap-10">

                        <!-- PROJECT 1 -->
                        <div class="flex  bg-white dark:bg-gray-800 rounded-2xl mb-5">
                            <div class="">
                                <div class="flex justify-center flex bg-gray-700 rounded-t-2xl">
                                    <img src="/Assets/img/fakturly.png" alt="Full-Stack" class=" w-70" />
                                </div>
                                <div class="m-8 flex flex-col">
                                    <div class="">
                                        <h3 class="font-bold text-xl text-white mb-2">Fakturly</h3>
                                        <p class="text-lg text-gray-400 space-y-10">
                                            Digital invoice and payment reminder solution that makes billing management
                                            easier.
                                            Built with modern tech stack for optimal performance.
                                    </div>
                                    <div class="flex gap-3 text-sm font-medium text-gray-600 dark:text-gray-400 my-5">
                                        <p class="bg-gray-100 dark:bg-gray-700 rounded-full px-2 py-1">
                                            JavaScript</p>
                                        <p class="bg-gray-100 dark:bg-gray-700 rounded-full px-2 py-1">
                                            React.JS</p>
                                        <p class="bg-gray-100 dark:bg-gray-700 rounded-full px-2 py-1">
                                            Node.JS</p>
                                        <p class="bg-gray-100 dark:bg-gray-700 rounded-full px-2 py-1">
                                            Express</p>
                                        <p class="bg-gray-100 dark:bg-gray-700 rounded-full px-2 py-1">
                                            PostgreSQL</p>
                                    </div>
                                    <div class="flex gap-10 mt-5 gap-3 text-md">
                                        <div class="flex gap-2">
                                            <img src="Assets/img/github.svg" class="size-5" alt="">
                                            <p class="text-gray-400">private repository</p>
                                        </div>
                                        <div class="flex gap-2">
                                            <img src="Assets/img/new-window.svg" class="size-5" alt="">
                                            <p class="text-blue-600">Live Demo</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>

            </section>

        </main>


        <footer>
            <div class="flex flex-col my-30 text-white justify-center">
                <div class="flex justify-center text-3xl font-bold mb-3">
                    <h3 class="">Let's build something together</h3>
                </div>
                <div class="flex justify-center text-gray-400 mb-5">
                    <p>Feel free to reach out if you're looking for a developer, have a question, or just want to
                        connect.
                    </p>
                </div>

                <div class="flex gap-10 flex justify-center text-gray-400">
                    <div class="flex gap-2">
                        <img src="Assets/img/mail.svg" alt="" class="w-5">
                        <a href="">adil.azuri145@gmail.com</a>
                    </div>
                    <div class="flex text-white">
                        <img src="Assets/img/whatsapp-brands.svg" class="w-5 flex bg-green-500 rounded-full m-1"></img>
                        <p>+62 813-6922-9439</p>
                    </div>
                </div>
            </div>
        </footer>

    </div>



    <script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>
    <script src="index.js"></script>
</body>

</html>